<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>

	<section>
		<main><!--
			<div class="container">
				<div class="row">
					<div class=" p-5 m-5">
						<div class="my-cart">
							<div id="carouselExampleCaptions" class="carousel slide"
								data-bs-ride="carousel">
								<div class="carousel-indicators">
									<button type="button" data-bs-target="#carouselExampleCaptions"
										data-bs-slide-to="0" class="active" aria-current="true"
										aria-label="Slide 1"></button>
									<button type="button" data-bs-target="#carouselExampleCaptions"
										data-bs-slide-to="1" aria-label="Slide 2"></button>
									<button type="button" data-bs-target="#carouselExampleCaptions"
										data-bs-slide-to="2" aria-label="Slide 3"></button>
								</div>
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="..." class="d-block w-100" alt="...">
										<div class="carousel-caption d-none d-md-block">
											<h5>First slide label</h5>
											<p>Some representative placeholder content for the first
												slide.</p>
										</div>
									</div>
									<div class="carousel-item">
										<img src="..." class="d-block w-100" alt="...">
										<div class="carousel-caption d-none d-md-block">
											<h5>Second slide label</h5>
											<p>Some representative placeholder content for the second
												slide.</p>
										</div>
									</div>
									<div class="carousel-item">
										<img src="..." class="d-block w-100" alt="...">
										<div class="carousel-caption d-none d-md-block">
											<h5>Third slide label</h5>
											<p>Some representative placeholder content for the third
												slide.</p>
										</div>
									</div>
								</div>
								<button class="carousel-control-prev" type="button"
									data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button"
									data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
-->


			<div class="firstSection">
				<div class="leftSection">
					Hi My name is <span class="purple">Harendra Ranjan</span>
					<div>I created 10+ wev project</div>
					<p>I have knowledge About java</p>
					<span id="element"></span>
				</div>
				<div class="rightSection">
					<img src="img/dev.png" alt="">
				</div>
			</div>
			<hr>
			<div class="SecondSection">
				<span class="text-gray">My relevent Skill</span>
				<h1>Skill</h1>
				<div class="LineUnderSkill">
					<div class="vertical">
						<img class="topImg" src="img/Html.png" alt="">
						<div class="verticalTitle">HTML</div>
						<div class="verticalDecs">Using HTML I can create any type
							of form</div>
					</div>
					<div class="vertical">
						<img class="topImg" src="img/CSS.png" alt="">
						<div class="verticalTitle">CSS</div>
						<div class="verticalDecs">Using HTML I can create any type
							of form</div>
					</div>
					<div class="vertical">
						<img class="topImg" src="img/JavaScript.png" alt="">
						<div class="verticalTitle">JavaScript</div>
						<div class="verticalDecs">Using HTML I can create any type
							of form</div>
					</div>
					<div class="vertical">
						<img class="topImg" src="img/Javapng.png" alt="">
						<div class="verticalTitle">JAVA & fremworks</div>
						<div class="verticalDecs">Using HTML I can create any type
							of form</div>
					</div>
					<div class="vertical">
						<img class="topImg" src="img/python.png" alt="">
						<div class="verticalTitle">Python & fremworks</div>
						<div class="verticalDecs">Using HTML I can create any type
							of form</div>
					</div>
				</div>

			</div>
		</main>


	</section>
</body>
</html>