<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Project</title>
</head>
<body>
	<section>
		<div class="container-fluid">
			<div class="row justify-content-center mt-5">
				<div class="card col-md-4 m-5 p-5 bg-dark text-light w-100">
					<div class="card-body">
						<h5 class="card-title">Note Maker</h5>
						<h6 class="card-subtile">Methodology</h6>
						<p class="card-text">HTML ,CSS ,JavaScript ,Java ,Spring ,Boot
							and MySql</p>
						<h6 class="card-subtile">Porpuse </h6>
						<p class="card-text">Our website is designed with the sole
							purpose of boosting your work capacity and efficiency. you can
							create a daily work note and after finising your work you can
							delete it in this type your work efficincy imrove</p>
						<a href="#" class="card-link text-light">Full View</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>